@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-Bold.woff2") format("woff2"), url("../fonts/Mulish-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-ExtraLight.woff2") format("woff2"), url("../fonts/Mulish-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-Light.woff2") format("woff2"), url("../fonts/Mulish-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-ExtraBold.woff2") format("woff2"), url("../fonts/Mulish-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-Regular.woff2") format("woff2"), url("../fonts/Mulish-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-SemiBold.woff2") format("woff2"), url("../fonts/Mulish-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-Medium.woff2") format("woff2"), url("../fonts/Mulish-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  min-width: 20rem;
  min-height: 100%;
  line-height: normal;
  background: url("../img/decor/pattern.png");
  margin-right: 0 !important;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: clip;
  background: #f6f8f9;
  color: #244e52;
  max-width: 1600px;
  margin: 0 auto;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 4.87rem;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 1rem;
}

.header {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 20.3125rem 5.6875rem 0 rgba(147, 180, 178, 0), 0 13rem 5.1875rem 0 rgba(147, 180, 178, 0.01), 0 117px 70px 0 rgba(147, 180, 178, 0.05), 0 3.25rem 3.25rem 0 rgba(147, 180, 178, 0.09), 0 0.8125rem 1.8125rem 0 rgba(147, 180, 178, 0.1);
          box-shadow: 0 20.3125rem 5.6875rem 0 rgba(147, 180, 178, 0), 0 13rem 5.1875rem 0 rgba(147, 180, 178, 0.01), 0 117px 70px 0 rgba(147, 180, 178, 0.05), 0 3.25rem 3.25rem 0 rgba(147, 180, 178, 0.09), 0 0.8125rem 1.8125rem 0 rgba(147, 180, 178, 0.1);
  -webkit-transition: all 0.6s ease, width 0s;
  transition: all 0.6s ease, width 0s;
  background: #fff;
  padding: 0.75rem 0;
}

.header.header--hidden {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  visibility: hidden;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__language {
  color: #26414b;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0.875rem;
  height: 3.4375rem;
  background: #ebf5f5;
}

.header__search {
  width: 3.4375rem;
  height: 3.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: #ebf5f5;
}

.header__phone {
  color: #26414b;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.97525rem;
}

.logo__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4.375rem;
          flex: 0 0 4.375rem;
}

.logo__header-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.375rem;
  color: rgba(44, 79, 91, 0.7);
  font-weight: 300;
  line-height: 121.591%;
  letter-spacing: -0.0275rem;
  font-size: 1.125rem;
  max-width: 9rem;
}

.logo__name {
  color: #1da7df;
  font-weight: 500;
  line-height: 127.273%;
  letter-spacing: 0.04125rem;
  text-transform: uppercase;
  font-size: 1.125rem;
}

.logo__name strong {
  white-space: nowrap;
}

.logo__tagline {
  margin-top: 0.25rem;
  color: rgba(44, 79, 91, 0.7);
  font-weight: 200;
  line-height: 111.458%;
  letter-spacing: 0.06rem;
  font-size: 1.25rem;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.socials__item {
  width: 3.4375rem;
  height: 3.4375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ebf5f5;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #26414b;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  gap: 0.5rem;
  row-gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__link {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.menu__socials {
  margin-top: 1rem;
}

.icon-menu {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  z-index: 11;
  height: 3.4375rem;
  min-width: 3.4375rem;
  background: #ebf5f5;
  color: #1da7df;
  border-radius: 50%;
  padding: 0.75rem 1rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.icon-menu span {
  display: block;
  padding: 0.1875rem 0rem;
  width: 100%;
  -webkit-transition: opacity 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
  transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  will-change: transform;
}

.icon-menu span::before {
  content: "";
  display: block;
  height: 0.125rem;
  width: 100%;
  margin-left: auto;
  background: currentColor;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  will-change: transform;
}

.header.open-menu .icon-menu span {
  -webkit-transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.header.open-menu .icon-menu span::before {
  -webkit-transition: width 0.3s ease 0s, -webkit-transform 0.45s ease 0.35s;
  transition: width 0.3s ease 0s, -webkit-transform 0.45s ease 0.35s;
  transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
  transition: transform 0.45s ease 0.35s, width 0.3s ease 0s, -webkit-transform 0.45s ease 0.35s;
  width: 90%;
}

.header.open-menu .icon-menu span:first-child {
  -webkit-transform: translateY(0.5rem);
      -ms-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

.header.open-menu .icon-menu span:first-child::before {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.header.open-menu .icon-menu span:nth-child(2) {
  opacity: 0;
}

.header.open-menu .icon-menu span:nth-child(3) {
  -webkit-transform: translateY(-0.5rem);
      -ms-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.header.open-menu .icon-menu span:nth-child(3)::before {
  -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.footer {
  background: #fff;
  padding: 2rem 0;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer__main {
  margin-top: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__contact {
  color: #26414b;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.footer__contact[href*="mailto:"] .footer__contact-text {
  text-decoration: underline;
}

.footer__contact-icon {
  width: 3.4375rem;
  height: 3.4375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ebf5f5;
  border-radius: 50%;
}

.footer__contact-text {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer__bottom {
  margin-top: 2.75rem;
  padding: 1.5rem 0;
  border-top: 0.0625rem solid #e0f4f4;
  color: rgba(36, 78, 82, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  text-align: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto,
.col-xxl,
.col-xxl-1,
.col-xxl-10,
.col-xxl-11,
.col-xxl-12,
.col-xxl-2,
.col-xxl-3,
.col-xxl-4,
.col-xxl-5,
.col-xxl-6,
.col-xxl-7,
.col-xxl-8,
.col-xxl-9,
.col-xxl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
}

.col-10 {
  max-width: 83.333333%;
  -ms-flex: 0 0 83.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 83.333333%;
}

.col-11 {
  max-width: 91.666667%;
  -ms-flex: 0 0 91.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 91.666667%;
}

.col-12 {
  max-width: 100%;
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
}

.col-1 {
  max-width: 8.333333%;
  -ms-flex: 0 0 8.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 8.333333%;
}

.col-2 {
  max-width: 16.666667%;
  -ms-flex: 0 0 16.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 16.666667%;
}

.col-3 {
  max-width: 25%;
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
          flex: 0 0 25%;
}

.col-4 {
  max-width: 33.333333%;
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.333333%;
}

.col-5 {
  max-width: 41.666667%;
  -ms-flex: 0 0 41.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 41.666667%;
}

.col-6 {
  max-width: 50%;
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
}

.col-7 {
  max-width: 58.333333%;
  -ms-flex: 0 0 58.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 58.333333%;
}

.col-8 {
  max-width: 66.666667%;
  -ms-flex: 0 0 66.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 66.666667%;
}

.col-9 {
  max-width: 75%;
  -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
          flex: 0 0 75%;
}

.fancybox__container {
  max-width: 100% !important;
  padding: 0 !important;
}

.fancybox__slide {
  padding: 0;
}

.fancybox__backdrop {
  background: rgba(14, 22, 65, 0.7);
}

.fancybox__content {
  color: inherit;
  background: none;
  padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
  outline: none;
}

.popup {
  display: none;
  background: #fff;
  color: #000;
  position: relative;
  border-radius: 0.25rem;
  max-width: 60rem;
  width: 100%;
  padding: 2rem 1.5rem;
}

.popup__close {
  font-size: 1.5rem;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  top: 0.5rem;
  right: 0.5rem;
}

.popup__description {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.popup__form {
  margin-top: 1.81rem;
}

.popup__form .row > * {
  padding: 0.75rem 1rem;
}

.title {
  color: #244e52;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: -0.05rem;
  font-size: 2rem;
}

.title strong {
  color: #1da7df;
  font-weight: 800;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #bae582;
  border-radius: 0.5rem;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cover-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__label {
  font-size: 1.0625rem;
  line-height: 141.176%;
  display: inline-block;
  margin-bottom: 0.25rem;
}

.form__control {
  text-overflow: ellipsis;
  font-family: "Mulish";
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
  border-radius: 0.25rem;
  border: 0.0625rem solid rgba(9, 97, 166, 0.3);
  background: rgba(9, 97, 166, 0.1);
  padding: 1rem 1.5rem;
  min-height: 3.75rem;
  color: #fff;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 141.176%;
  color: #000;
}

.form__control:focus {
  border: 0.0625rem solid rgb(9, 97, 166);
}

.form__control:disabled {
  opacity: 0.24;
}

.form__control:is(textarea) {
  height: 9rem;
  resize: none;
}

.form__control:is(select) {
  background: url("../img/icons/down.svg") no-repeat right 1.5rem center/1.5rem, rgba(9, 97, 166, 0.1);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form__checkbox {
  display: block;
}

.form__checkbox-input:checked + .form__checkbox-text::before {
  background-color: rgb(9, 97, 166);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23BAE582' d='M9 16.17L4.83 12l-1.42 1.41L9 19L21 7l-1.41-1.41z'/%3E%3C/svg%3E");
}

.form__checkbox-input.error + .form__checkbox-text::before {
  border: 0.0625rem solid #f06868;
}

.form__checkbox-text {
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 133.333%;
  min-height: 2.25rem;
  padding: 0 0 0 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form__checkbox-text::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.0625rem solid #dfe4ef;
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__checkbox-text a {
  text-decoration: underline;
  color: #3972c4;
}

.btn {
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  font-size: 0.9375rem;
  padding: 1.125rem 1.25rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 6.25rem;
}

.btn:focus-visible {
  -webkit-box-shadow: 0 0 0.0625rem 0.0625rem #fff;
          box-shadow: 0 0 0.0625rem 0.0625rem #fff;
}

.btn.btn-primary {
  border: 0.15625rem solid #bae582;
  color: #1da7df;
}

.btn.btn-primary:hover {
  background: #bae582;
  color: #000;
}

.btn.btn-primary:active {
  border: 0.15625rem solid #8bd32e;
  background-color: #8bd32e;
  color: #000;
}

.btn.btn-white {
  border: 0.15625rem solid #bae582;
  color: #fff;
}

.btn.btn-white:hover {
  background: #bae582;
  color: #000;
}

.btn.btn-white:active {
  border: 0.15625rem solid #8bd32e;
  background-color: #8bd32e;
  color: #000;
}

.btn.btn-fullwidth {
  width: 100%;
  padding-inline: 1rem;
}

.btn:disabled,
.btn[aria-disabled=true] {
  pointer-events: none;
}

.btn.filter-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn.filter-btn:not(:last-child) {
  border-right: 0;
}

.btn.filter-btn:not(:first-child) {
  border-left: 0;
}

.form__label {
  font-size: 1.0625rem;
  line-height: 141.176%;
  display: inline-block;
  margin-bottom: 0.25rem;
}

.form__control {
  text-overflow: ellipsis;
  font-family: "Mulish";
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
  border-radius: 0.25rem;
  border: 0.0625rem solid rgba(9, 97, 166, 0.3);
  background: rgba(9, 97, 166, 0.1);
  padding: 1rem 1.5rem;
  min-height: 3.75rem;
  color: #fff;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 141.176%;
  color: #000;
}

.form__control:focus {
  border: 0.0625rem solid rgb(9, 97, 166);
}

.form__control:disabled {
  opacity: 0.24;
}

.form__control:is(textarea) {
  height: 9rem;
  resize: none;
}

.form__control:is(select) {
  background: url("../img/icons/down.svg") no-repeat right 1.5rem center/1.5rem, rgba(9, 97, 166, 0.1);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form__checkbox {
  display: block;
}

.form__checkbox-input:checked + .form__checkbox-text::before {
  background-color: rgb(9, 97, 166);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23BAE582' d='M9 16.17L4.83 12l-1.42 1.41L9 19L21 7l-1.41-1.41z'/%3E%3C/svg%3E");
}

.form__checkbox-input.error + .form__checkbox-text::before {
  border: 0.0625rem solid #f06868;
}

.form__checkbox-text {
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 133.333%;
  min-height: 2.25rem;
  padding: 0 0 0 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form__checkbox-text::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.0625rem solid #dfe4ef;
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__checkbox-text a {
  text-decoration: underline;
  color: #3972c4;
}

.btn {
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  font-size: 0.9375rem;
  padding: 1.125rem 1.25rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 6.25rem;
}

.btn:focus-visible {
  -webkit-box-shadow: 0 0 0.0625rem 0.0625rem #fff;
          box-shadow: 0 0 0.0625rem 0.0625rem #fff;
}

.btn.btn-primary {
  border: 0.15625rem solid #bae582;
  color: #1da7df;
}

.btn.btn-primary:hover {
  background: #bae582;
  color: #000;
}

.btn.btn-primary:active {
  border: 0.15625rem solid #8bd32e;
  background-color: #8bd32e;
  color: #000;
}

.btn.btn-white {
  border: 0.15625rem solid #bae582;
  color: #fff;
}

.btn.btn-white:hover {
  background: #bae582;
  color: #000;
}

.btn.btn-white:active {
  border: 0.15625rem solid #8bd32e;
  background-color: #8bd32e;
  color: #000;
}

.btn.btn-fullwidth {
  width: 100%;
  padding-inline: 1rem;
}

.btn:disabled,
.btn[aria-disabled=true] {
  pointer-events: none;
}

.btn.filter-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn.filter-btn:not(:last-child) {
  border-right: 0;
}

.btn.filter-btn:not(:first-child) {
  border-left: 0;
}

.promo {
  background: url("../img/promo-bg.jpg") center 0/cover no-repeat;
  position: relative;
  z-index: 1;
  overflow: hidden;
  mask: url("../img/masks/promo-mask.svg") 0 100%/cover no-repeat;
  -webkit-mask: url("../img/masks/promo-mask.svg") 0 100%/cover no-repeat;
  padding-top: 5rem;
  padding-bottom: 7.5rem;
}

.promo::before {
  content: "";
  position: absolute;
  background: #f6f8f9;
  left: -25%;
  border-radius: 50%;
  z-index: -1;
  width: 25rem;
  height: 25rem;
  bottom: 0;
  -webkit-filter: blur(8.75rem);
          filter: blur(8.75rem);
}

.promo__offer {
  position: relative;
  z-index: 2;
}

.promo__title {
  font-weight: 100;
  line-height: 122.222%;
  letter-spacing: -0.135rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 2rem;
}

.promo__title span {
  margin-top: 0.5rem;
  color: #1da7df;
  font-weight: 400;
  line-height: 90.208%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 3rem;
}

.promo__title span strong {
  letter-spacing: 0.35rem;
  font-weight: 800;
  position: relative;
  display: block;
  padding-bottom: 2.8125rem;
}

.promo__title span strong::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.375rem;
  background: url("../img/decor/promo-title-lines.svg") center/contain no-repeat;
}

.promo__description {
  color: rgba(36, 78, 82, 0.8);
  font-weight: 200;
  line-height: 132.143%;
  max-width: 20rem;
}

.support {
  padding: 6rem 0;
  position: relative;
}

.support::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  width: 7.9375rem;
  height: 32.25rem;
  pointer-events: none;
  background: url("../img/decor/support-left-line.svg") 0 bottom/auto no-repeat;
}

.support::after {
  content: "";
  position: absolute;
  top: -3rem;
  left: 2rem;
  width: 11.08188rem;
  height: 5.32656rem;
  z-index: 2;
  background: url("../img/decor/airplane.svg") center/contain no-repeat;
}

.support .row {
  row-gap: 4rem;
}

.support .row .col-lg-6 {
  padding: 0 0.5rem;
}

.support__image {
  position: relative;
  margin-left: -2rem;
  margin-right: -2rem;
}

.support__image::before {
  content: "";
  position: absolute;
  inset: -2.5rem;
  background: url("../img/decor/support-img-decor.svg") center/contain no-repeat;
}

.support__image img {
  mask: url("../img/masks/support-mask.svg") center/contain no-repeat;
  -webkit-mask: url("../img/masks/support-mask.svg") center/contain no-repeat;
}

.support__block:not(:last-child) {
  margin-bottom: 2.31rem;
  position: relative;
}

.support__block:not(:last-child)::before {
  content: "";
  position: absolute;
  top: calc(100% - 1rem);
  right: -2rem;
  width: 5.4375rem;
  height: 5.4375rem;
  background: url("../img/decor/support-lines-decor.svg") center/contain no-repeat;
}

.support__title .support__title-decor-lg {
  position: relative;
  display: inline-block;
}

.support__title .support__title-decor-lg::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1.125rem;
  background: url("../img/decor/support-title-lines-1.svg") center/contain no-repeat;
}

.support__title .support__title-decor-sm {
  position: relative;
  display: inline-block;
}

.support__title .support__title-decor-sm::before {
  content: "";
  position: absolute;
  top: 100%;
  left: -10%;
  width: 120%;
  height: 0.5rem;
  background: url("../img/decor/support-title-line-2.svg") center/contain no-repeat;
}

.support__description {
  margin-top: 1.25rem;
  color: rgba(36, 78, 82, 0.8);
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 136.364%;
}

.directions {
  padding: 2rem 0;
}

.directions__title {
  text-align: center;
  font-weight: 100;
  line-height: 1;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.directions__title span {
  font-weight: 500;
  color: #1da7df;
}

.directions__body {
  margin-top: 4rem;
}

.directions__body .row .col-xl-4 {
  padding: 1.5rem 1rem;
}

.directions__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.directions__card-image {
  position: relative;
}

.directions__card-image::before {
  content: "";
  position: absolute;
  inset: -1.25rem;
  background: url("../img/decor/direction-img-bg.svg") center/contain no-repeat;
}

.directions__card-image img {
  mask: url("../img/masks/direction-mask.svg") center/contain no-repeat;
  -webkit-mask: url("../img/masks/direction-mask.svg") center/contain no-repeat;
}

.directions__card-name {
  margin-top: 2rem;
  font-size: 1.6875rem;
  font-weight: 600;
  line-height: 111.111%;
  letter-spacing: -0.03375rem;
}

.start {
  padding: 2.5rem 0rem 3.5rem;
}

.start__banner {
  position: relative;
  color: #fff;
  width: 100%;
  background: url("../img/decor/pattern.png"), #05538f;
  background-blend-mode: darken;
  overflow: hidden;
  border-radius: 1.5rem;
}

.start__offer {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  padding: 2.5rem 1.5rem;
}

.start__title {
  font-weight: 100;
  line-height: 102.857%;
  letter-spacing: -0.0875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 3rem;
}

.start__title strong {
  font-weight: 800;
}

.start__description {
  margin-top: 1.875rem;
  font-weight: 300;
  line-height: 125%;
  font-size: 1rem;
}

.start__btn {
  margin-top: 2rem;
}

.start__image {
  margin-left: -1rem;
  min-height: 100%;
  position: relative;
}

.place {
  padding: 3rem 0 3.25rem;
}

.place .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 4rem;
}

.place__title span {
  color: #1da7df;
}

.place__title strong span {
  position: relative;
  display: inline-block;
}

.place__title strong span::before {
  content: "";
  position: absolute;
  top: calc(100% - 0.35rem);
  left: 0;
  width: 100%;
  height: 1.125rem;
  background: url("../img/decor/support-title-lines-1.svg") center/contain no-repeat;
}

.place__description {
  margin-top: 1.25rem;
  color: rgba(36, 78, 82, 0.8);
  line-height: 142.857%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

.place__btn {
  margin-top: 1.25rem;
}

.place__image {
  position: relative;
}

.place__image::before {
  content: "";
  position: absolute;
  background: url("../img/decor/support-img-decor.svg") center/contain no-repeat;
  inset: -2.5rem;
}

.place__image img {
  mask: url("../img/masks/support-mask.svg") center/contain no-repeat;
  -webkit-mask: url("../img/masks/support-mask.svg") center/contain no-repeat;
}

.contacts {
  color: #fff;
  background: url("../img/decor/pattern.png"), #0961a6;
  background-blend-mode: darken;
  padding: 3rem 0 4rem;
  position: relative;
  z-index: 1;
}

.contacts__body {
  max-width: 67.875rem;
  margin: 0 auto;
}

.contacts__body .row {
  row-gap: 4rem;
}

.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contacts__title {
  margin-top: 1.88rem;
  font-weight: 100;
  line-height: 110%;
  letter-spacing: -0.075rem;
  text-transform: uppercase;
  font-size: 2.75rem;
}

.contacts__btn {
  margin-top: 1.25rem;
}

@media (min-width: 575.98px) {
  .container {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    max-width: 540px;
  }

  .header {
    padding: 1.5rem 0;
  }

  .footer__bottom {
    line-height: 77.778%;
    font-size: 1.125rem;
  }

  .btn.btn-lg {
    padding: 1.5rem 1.88rem;
    font-size: 1.125rem;
  }

  .btn.btn-lg {
    padding: 1.5rem 1.88rem;
    font-size: 1.125rem;
  }

  .promo::before {
    width: 40rem;
    height: 40rem;
  }

  .support::after {
    left: 17rem;
  }

  .contacts::before {
    content: "";
    position: absolute;
    bottom: 4rem;
    width: 4.5rem;
    height: 6.125rem;
    pointer-events: none;
    z-index: -1;
    background: url("../img/decor/contacts-decor-1.svg") center/contain no-repeat;
    left: 4%;
  }

  .contacts::after {
    content: "";
    position: absolute;
    top: 4rem;
    width: 5.375rem;
    height: 5.375rem;
    pointer-events: none;
    z-index: -1;
    background: url("../img/decor/contacts-decor-2.svg") center/contain no-repeat;
    right: 4%;
  }

  .contacts__title {
    font-size: 3.75rem;
  }
}

@media (min-width: 580px) {
  .col-sm-1 {
    max-width: 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-sm-2 {
    max-width: 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-sm-3 {
    max-width: 25%;
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-sm-4 {
    max-width: 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-sm-5 {
    max-width: 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-sm-6 {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-sm-7 {
    max-width: 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-sm-8 {
    max-width: 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-sm-9 {
    max-width: 75%;
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-sm-10 {
    max-width: 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-sm-11 {
    max-width: 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-sm-12 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }
}

@media (min-width: 767.98px) {
  .container {
    max-width: 720px;
  }

  .popup {
    padding: 5.63rem 7.88rem;
  }

  .popup__close {
    top: 2.12rem;
    right: 2.12rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .promo {
    padding-top: 11.5rem;
    padding-bottom: 14.4rem;
  }

  .promo::before {
    -webkit-filter: blur(12.5rem);
            filter: blur(12.5rem);
    top: 0;
    bottom: auto;
    width: 50rem;
    height: 50rem;
  }

  .support__image::before {
    inset: -4.5rem;
  }

  .directions {
    padding: 4rem 0;
  }

  .directions__title {
    letter-spacing: -0.3rem;
    font-size: 4.125rem;
  }

  .place {
    padding: 6rem 0 7.25rem;
  }

  .place__description {
    font-size: 1.3125rem;
  }

  .place__btn {
    padding: 1.5rem;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    max-width: 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-md-2 {
    max-width: 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-md-3 {
    max-width: 25%;
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-md-4 {
    max-width: 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-md-5 {
    max-width: 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-md-6 {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-md-7 {
    max-width: 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-md-8 {
    max-width: 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-md-9 {
    max-width: 75%;
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-md-10 {
    max-width: 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-md-11 {
    max-width: 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-md-12 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }

  .menu__socials.socials {
    display: none;
  }

  .promo__title {
    font-size: 3.375rem;
  }

  .promo__title span {
    letter-spacing: 0.05rem;
    font-size: 6rem;
  }

  .promo__description {
    margin-top: 2.15rem;
    font-size: 1.75rem;
  }

  .support__image {
    margin-top: 1rem;
    margin-left: -5rem;
    margin-right: 0;
  }

  .start {
    padding: 2.5rem 1.5rem 3.5rem;
    position: relative;
  }

  .start::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 4rem;
    width: 100%;
    height: 90%;
    background: url("../img/decor/start-bg-decor.svg") 3rem center/contain no-repeat;
  }

  .start__banner {
    border-radius: 3rem;
  }

  .start__banner::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: url("../img/decor/start-decor.png") center/contain no-repeat;
    pointer-events: none;
    z-index: 2;
    height: 20.3125rem;
    width: 14.0625rem;
    left: 55%;
  }

  .start__offer {
    padding: 2.5rem 2rem 2.5rem 4rem;
  }

  .start__title {
    font-size: 4.375rem;
  }

  .start__description {
    font-size: 1.5rem;
  }

  .start__image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    mask: url("../img/masks/start-img-mask.svg") 0 center/cover no-repeat;
    -webkit-mask: url("../img/masks/start-img-mask.svg") 0 center/cover no-repeat;
  }

  .place__image {
    margin-top: -1.5rem;
    margin-left: 2.5rem;
  }

  .place__image::before {
    inset: -4rem;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    max-width: 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-lg-2 {
    max-width: 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-lg-25 {
    max-width: 20%;
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-lg-3 {
    max-width: 25%;
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-lg-4 {
    max-width: 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-lg-5 {
    max-width: 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-lg-6 {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-lg-7 {
    max-width: 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-lg-8 {
    max-width: 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-lg-9 {
    max-width: 75%;
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-lg-10 {
    max-width: 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-lg-11 {
    max-width: 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-lg-12 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }
}

@media (min-width: 1199.98px) {
  .container {
    max-width: 1140px;
  }

  .header {
    position: fixed;
    background: #f6f8f9;
  }

  .header__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }

  .header__top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__language {
    background: #fff;
    width: 6.25rem;
    height: 3.4375rem;
    gap: 0.625rem;
  }

  .header__search {
    background: #fff;
  }

  .header__phone-icon {
    display: none;
  }

  .logo__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 5.625rem;
            flex: 0 0 5.625rem;
  }

  .logo__header-column {
    max-width: 12rem;
    font-size: 1.375rem;
  }

  .logo__name {
    font-size: 1.375rem;
  }

  .logo__tagline {
    font-size: 1.5rem;
  }

  .menu {
    margin-top: 0.625rem;
  }

  .menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .icon-menu {
    display: none;
  }

  .footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .footer__main {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .footer__bottom {
    text-align: left;
    gap: 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .promo__description {
    max-width: 37.5rem;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    max-width: 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-xl-2 {
    max-width: 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-xl-25 {
    max-width: 20%;
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-xl-3 {
    max-width: 25%;
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-xl-4 {
    max-width: 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-xl-5 {
    max-width: 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-xl-6 {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-xl-7 {
    max-width: 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-xl-8 {
    max-width: 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-xl-9 {
    max-width: 75%;
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-xl-10 {
    max-width: 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-xl-11 {
    max-width: 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-xl-12 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }
}

@media (min-width: 1399.98px) {
  .container {
    max-width: 1366px;
  }

  .header__wrapper {
    gap: 3.5rem;
  }

  .footer__wrapper {
    gap: 3.5rem;
  }

  .footer__main {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .promo::before {
    width: 70.3125rem;
    height: 70.3125rem;
  }

  .start__banner::before {
    left: 43%;
    width: 21.5625rem;
    height: 27.8125rem;
  }

  .start__banner {
    border-radius: 0;
    min-height: 40.9375rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    mask: url("../img/masks/start-block-mask.svg") center/100% auto no-repeat;
    -webkit-mask: url("../img/masks/start-block-mask.svg") center/100% auto no-repeat;
  }

  .start__banner .row {
    min-height: 100%;
    width: 100%;
  }

  .start__offer {
    padding: 2.5rem 7rem 7rem 8rem;
  }

  .contacts::before {
    left: 13%;
  }

  .contacts::after {
    right: 12%;
  }
}

@media (min-width: 1631.98px) {
  .container.container-lg {
    max-width: 1600px;
  }
}

@media (max-width: 1399.98px) {
  .footer__contact-text {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  body:has(.header.open-menu) {
    overflow: hidden;
  }

  .header__phone {
    width: 3.4375rem;
    height: 3.4375rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    background: #ebf5f5;
  }

  .header__phone-text {
    display: none;
  }

  .header__menu {
    background: rgba(14, 22, 65, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    right: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .header.open-menu .header__menu {
    opacity: 1;
    visibility: visible;
  }

  .header.open-menu .header__menu .menu__wrapper {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .header__menu .menu__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .menu__wrapper {
    max-width: 22.5rem;
    width: 100%;
    background: #fff;
    min-height: 100%;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: auto;
    padding: 8rem 2rem;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
}

@media (max-width: 991.98px) {
  .header__socials.socials {
    display: none;
  }
}

@media (max-width: 932px) {
  .col-1 {
    max-width: 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-2 {
    max-width: 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-3 {
    max-width: 25%;
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-4 {
    max-width: 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-5 {
    max-width: 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-6 {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-7 {
    max-width: 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-8 {
    max-width: 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-9 {
    max-width: 75%;
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-10 {
    max-width: 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-11 {
    max-width: 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-12 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }
}

@media (max-width: 767.98px) {
  .header__callback.btn {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .header__logo .logo__header-column,
  .header__logo .logo__tagline {
    display: none;
  }

  .header__language {
    display: none;
  }

  .header__search {
    display: none;
  }
}

@media (any-hover: hover) {
  .header__phone:hover {
    color: #1da7df;
  }

  .socials__item:hover {
    background-color: #c9e4e4;
  }

  .menu__link:hover {
    color: #1da7df;
  }

  .icon-menu:hover {
    color: #6adeac;
  }

  .footer__contact:hover .footer__contact-text {
    text-decoration: none;
    color: #1da7df;
  }

  .footer__policy:hover {
    text-decoration: underline;
  }

  .footer__prod:hover {
    text-decoration: underline;
  }

  .popup__close:hover {
    color: #f06868;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #e6e6e6;
  }

  .form__checkbox-text a:hover {
    text-decoration: none;
  }

  .form__checkbox-text a:hover {
    text-decoration: none;
  }
}