@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-Bold.woff2") format("woff2"), url("../fonts/Mulish-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-ExtraBold.woff2") format("woff2"), url("../fonts/Mulish-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-ExtraLight.woff2") format("woff2"), url("../fonts/Mulish-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-Medium.woff2") format("woff2"), url("../fonts/Mulish-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-Light.woff2") format("woff2"), url("../fonts/Mulish-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-Regular.woff2") format("woff2"), url("../fonts/Mulish-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-SemiBold.woff2") format("woff2"), url("../fonts/Mulish-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  min-width: 20rem;
  min-height: 100%;
  line-height: normal;
  background: url("../img/decor/pattern.png");
  margin-right: 0 !important;
}
@media (max-width: 991.98px) {
  body:has(.header.open-menu) {
    overflow: hidden;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: clip;
  background: #f6f8f9;
  color: #244e52;
  max-width: 1600px;
  margin: 0 auto;
}

.page {
  padding-top: 4.87rem;
  flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 1rem;
}
@media (min-width: 575.98px) {
  .container {
    box-sizing: content-box;
    max-width: 540px;
  }
}
@media (min-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1199.98px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1399.98px) {
  .container {
    max-width: 1366px;
  }
}
@media (min-width: 1631.98px) {
  .container.container-lg {
    max-width: 1600px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto,
.col-xxl,
.col-xxl-1,
.col-xxl-10,
.col-xxl-11,
.col-xxl-12,
.col-xxl-2,
.col-xxl-3,
.col-xxl-4,
.col-xxl-5,
.col-xxl-6,
.col-xxl-7,
.col-xxl-8,
.col-xxl-9,
.col-xxl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
}

.col-10 {
  max-width: 83.333333%;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
}

.col-11 {
  max-width: 91.666667%;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
}

.col-12 {
  max-width: 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.col-1 {
  max-width: 8.333333%;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
}

.col-2 {
  max-width: 16.666667%;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
}

.col-3 {
  max-width: 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}

.col-4 {
  max-width: 33.333333%;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
}

.col-5 {
  max-width: 41.666667%;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
}

.col-6 {
  max-width: 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.col-7 {
  max-width: 58.333333%;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
}

.col-8 {
  max-width: 66.666667%;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
}

.col-9 {
  max-width: 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
}

@media (max-width: 932px) {
  .col-1 {
    max-width: 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    flex: 0 0 auto;
  }
  .col-2 {
    max-width: 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 auto;
  }
  .col-3 {
    max-width: 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 auto;
  }
  .col-4 {
    max-width: 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 auto;
  }
  .col-5 {
    max-width: 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 auto;
  }
  .col-6 {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 auto;
  }
  .col-7 {
    max-width: 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 auto;
  }
  .col-8 {
    max-width: 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    flex: 0 0 auto;
  }
  .col-9 {
    max-width: 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 auto;
  }
  .col-10 {
    max-width: 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    flex: 0 0 auto;
  }
  .col-11 {
    max-width: 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    flex: 0 0 auto;
  }
  .col-12 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 auto;
  }
}
@media (min-width: 580px) {
  .col-sm-1 {
    max-width: 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    flex: 0 0 auto;
  }
  .col-sm-2 {
    max-width: 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 auto;
  }
  .col-sm-3 {
    max-width: 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 auto;
  }
  .col-sm-4 {
    max-width: 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 auto;
  }
  .col-sm-5 {
    max-width: 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 auto;
  }
  .col-sm-6 {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 auto;
  }
  .col-sm-7 {
    max-width: 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 auto;
  }
  .col-sm-8 {
    max-width: 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    flex: 0 0 auto;
  }
  .col-sm-9 {
    max-width: 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 auto;
  }
  .col-sm-10 {
    max-width: 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    flex: 0 0 auto;
  }
  .col-sm-11 {
    max-width: 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    flex: 0 0 auto;
  }
  .col-sm-12 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 auto;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    max-width: 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    flex: 0 0 auto;
  }
  .col-md-2 {
    max-width: 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 auto;
  }
  .col-md-3 {
    max-width: 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 auto;
  }
  .col-md-4 {
    max-width: 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 auto;
  }
  .col-md-5 {
    max-width: 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 auto;
  }
  .col-md-6 {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 auto;
  }
  .col-md-7 {
    max-width: 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 auto;
  }
  .col-md-8 {
    max-width: 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    flex: 0 0 auto;
  }
  .col-md-9 {
    max-width: 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 auto;
  }
  .col-md-10 {
    max-width: 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    flex: 0 0 auto;
  }
  .col-md-11 {
    max-width: 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    flex: 0 0 auto;
  }
  .col-md-12 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 auto;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    max-width: 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    flex: 0 0 auto;
  }
  .col-lg-2 {
    max-width: 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 auto;
  }
  .col-lg-25 {
    max-width: 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 auto;
  }
  .col-lg-3 {
    max-width: 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 auto;
  }
  .col-lg-4 {
    max-width: 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 auto;
  }
  .col-lg-5 {
    max-width: 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 auto;
  }
  .col-lg-6 {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 auto;
  }
  .col-lg-7 {
    max-width: 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 auto;
  }
  .col-lg-8 {
    max-width: 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    flex: 0 0 auto;
  }
  .col-lg-9 {
    max-width: 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 auto;
  }
  .col-lg-10 {
    max-width: 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    flex: 0 0 auto;
  }
  .col-lg-11 {
    max-width: 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    flex: 0 0 auto;
  }
  .col-lg-12 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 auto;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    max-width: 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    flex: 0 0 auto;
  }
  .col-xl-2 {
    max-width: 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 auto;
  }
  .col-xl-25 {
    max-width: 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 auto;
  }
  .col-xl-3 {
    max-width: 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 auto;
  }
  .col-xl-4 {
    max-width: 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 auto;
  }
  .col-xl-5 {
    max-width: 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 auto;
  }
  .col-xl-6 {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 auto;
  }
  .col-xl-7 {
    max-width: 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 auto;
  }
  .col-xl-8 {
    max-width: 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    flex: 0 0 auto;
  }
  .col-xl-9 {
    max-width: 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 auto;
  }
  .col-xl-10 {
    max-width: 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    flex: 0 0 auto;
  }
  .col-xl-11 {
    max-width: 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    flex: 0 0 auto;
  }
  .col-xl-12 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 auto;
  }
}
.fancybox__container {
  max-width: 100% !important;
  padding: 0 !important;
}

.fancybox__slide {
  padding: 0;
}

.fancybox__backdrop {
  background: rgba(14, 22, 65, 0.7);
}

.fancybox__content {
  color: inherit;
  background: none;
  padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
  outline: none;
}

.popup {
  display: none;
  background: #fff;
  color: #000;
  position: relative;
  border-radius: 0.25rem;
  max-width: 60rem;
  width: 100%;
  padding: 2rem 1.5rem;
}
@media (min-width: 767.98px) {
  .popup {
    padding: 5.63rem 7.88rem;
  }
}
.popup__close {
  font-size: 1.5rem;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  transition: color 0.3s ease;
  top: 0.5rem;
  right: 0.5rem;
}
@media (min-width: 767.98px) {
  .popup__close {
    top: 2.12rem;
    right: 2.12rem;
  }
}
@media (any-hover: hover) {
  .popup__close:hover {
    color: #f06868;
  }
}
.popup__description {
  margin-top: 1rem;
  font-size: 1.25rem;
}
.popup__form {
  margin-top: 1.81rem;
}
.popup__form .row > * {
  padding: 0.75rem 1rem;
}

.title {
  color: #244e52;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: -0.05rem;
}
.title strong {
  color: #1da7df;
  font-weight: 800;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #bae582;
  border-radius: 0.5rem;
}
@media (any-hover: hover) {
  ::-webkit-scrollbar-thumb:hover {
    background: #e6e6e6;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form__label {
  font-size: 1.0625rem;
  line-height: 141.176%;
  display: inline-block;
  margin-bottom: 0.25rem;
}
.form__control {
  text-overflow: ellipsis;
  font-family: "Mulish";
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
  border-radius: 0.25rem;
  border: 0.0625rem solid rgba(9, 97, 166, 0.3);
  background: rgba(9, 97, 166, 0.1);
  padding: 1rem 1.5rem;
  min-height: 3.75rem;
  color: #fff;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 141.176%;
  color: #000;
}
.form__control:focus {
  border: 0.0625rem solid rgb(9, 97, 166);
}
.form__control:disabled {
  opacity: 0.24;
}
.form__control:is(textarea) {
  height: 9rem;
  resize: none;
}
.form__control:is(select) {
  background: url("../img/icons/down.svg") no-repeat right 1.5rem center/1.5rem, rgba(9, 97, 166, 0.1);
  appearance: none;
}
.form__checkbox {
  display: block;
}
.form__checkbox-input:checked + .form__checkbox-text::before {
  background-color: rgb(9, 97, 166);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23BAE582' d='M9 16.17L4.83 12l-1.42 1.41L9 19L21 7l-1.41-1.41z'/%3E%3C/svg%3E");
}
.form__checkbox-input.error + .form__checkbox-text::before {
  border: 0.0625rem solid #f06868;
}
.form__checkbox-text {
  position: relative;
  align-content: center;
  width: fit-content;
  line-height: 133.333%;
  min-height: 2.25rem;
  padding: 0 0 0 2em;
  cursor: pointer;
  user-select: none;
}
.form__checkbox-text::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid #dfe4ef;
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__checkbox-text a {
  text-decoration: underline;
  color: #3972c4;
}
@media (any-hover: hover) {
  .form__checkbox-text a:hover {
    text-decoration: none;
  }
}
.btn {
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  font-size: 0.9375rem;
  padding: 1.125rem 1.25rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 6.25rem;
}
.btn:focus-visible {
  box-shadow: 0 0 0.0625rem 0.0625rem #fff;
}
.btn.btn-primary {
  border: 0.15625rem solid #bae582;
  color: #1da7df;
}
.btn.btn-primary:hover {
  background: #bae582;
  color: #000;
}
.btn.btn-primary:active {
  border: 0.15625rem solid #8bd32e;
  background-color: #8bd32e;
  color: #000;
}
.btn.btn-white {
  border: 0.15625rem solid #bae582;
  color: #fff;
}
.btn.btn-white:hover {
  background: #bae582;
  color: #000;
}
.btn.btn-white:active {
  border: 0.15625rem solid #8bd32e;
  background-color: #8bd32e;
  color: #000;
}
.btn.btn-lg {
  font-size: 1.125rem;
  padding: 1.5rem 1.88rem;
}
.btn.btn-fullwidth {
  width: 100%;
  padding-inline: 1rem;
}
.btn:disabled, .btn[aria-disabled=true] {
  pointer-events: none;
}
.btn.filter-btn {
  width: fit-content;
}
.btn.filter-btn:not(:last-child) {
  border-right: 0;
}
.btn.filter-btn:not(:first-child) {
  border-left: 0;
}
.header {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 0;
  background: #f6f8f9;
  box-shadow: 0 20.3125rem 5.6875rem 0 rgba(147, 180, 178, 0), 0 13rem 5.1875rem 0 rgba(147, 180, 178, 0.01), 0 117px 70px 0 rgba(147, 180, 178, 0.05), 0 3.25rem 3.25rem 0 rgba(147, 180, 178, 0.09), 0 0.8125rem 1.8125rem 0 rgba(147, 180, 178, 0.1);
  transition: all 0.6s ease, width 0s;
}
.header.header--hidden {
  transform: translateY(-100%);
  visibility: hidden;
}
.header__wrapper {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}
.header__logo {
  flex-shrink: 0;
}
.header__body {
  flex: 1 1 auto;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__language {
  color: #26414b;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 6.25rem;
  background: #fff;
  display: flex;
  width: 6.25rem;
  height: 3.4375rem;
  padding: 0.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
}
.header__search {
  width: 3.4375rem;
  height: 3.4375rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.header__phone {
  color: #26414b;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .header__phone:hover {
    color: #1da7df;
  }
}
.logo {
  display: flex;
  flex-direction: column;
}
.logo__header {
  display: flex;
  align-items: center;
  gap: 0.97525rem;
}
.logo__image {
  flex: 0 0 5.625rem;
}
.logo__header-column {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  color: rgba(44, 79, 91, 0.7);
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 121.591%;
  letter-spacing: -0.0275rem;
  max-width: 12rem;
}
.logo__name {
  color: #1da7df;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 127.273%;
  letter-spacing: 0.04125rem;
  text-transform: uppercase;
}
.logo__name strong {
  white-space: nowrap;
}
.logo__tagline {
  margin-top: 0.25rem;
  color: rgba(44, 79, 91, 0.7);
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 111.458%;
  letter-spacing: 0.06rem;
}

.socials {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.socials__item {
  width: 3.4375rem;
  height: 3.4375rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebf5f5;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
@media (any-hover: hover) {
  .socials__item:hover {
    background-color: #c9e4e4;
  }
}

.menu {
  margin-top: 0.625rem;
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #26414b;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
.menu__link {
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #1da7df;
  }
}

.icon-menu {
  flex-shrink: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
  padding: 0;
  order: 1;
  z-index: 11;
  min-width: 1.625rem;
  height: 1.625rem;
  color: #fff;
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .icon-menu:hover {
    color: #6adeac;
  }
}
.icon-menu span {
  display: block;
  padding: 0.1875rem 0rem;
  width: 100%;
  transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
  will-change: transform;
}
.icon-menu span::before {
  content: "";
  display: block;
  height: 0.125rem;
  width: 100%;
  margin-left: auto;
  background: currentColor;
  transition: transform 0.3s ease 0s;
  will-change: transform;
}
.header.open-menu .icon-menu span {
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
}
.header.open-menu .icon-menu span::before {
  transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
  width: 90%;
}
.header.open-menu .icon-menu span:first-child {
  transform: translateY(0.5rem);
}
.header.open-menu .icon-menu span:first-child::before {
  transform: rotate(-135deg);
}
.header.open-menu .icon-menu span:nth-child(2) {
  opacity: 0;
}
.header.open-menu .icon-menu span:nth-child(3) {
  transform: translateY(-0.5rem);
}
.header.open-menu .icon-menu span:nth-child(3)::before {
  transform: rotate(-225deg);
}

.footer {
  background: #fff;
  padding: 2rem 0;
}
.footer__wrapper {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}
.footer__body {
  flex: 1 1 auto;
}
.footer__main {
  margin-top: 0.75rem;
  display: flex;
  justify-content: space-between;
}
.footer__contact {
  color: #26414b;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.footer__contact[href*="mailto:"] .footer__contact-text {
  text-decoration: underline;
}
@media (any-hover: hover) {
  .footer__contact:hover .footer__contact-text {
    text-decoration: none;
    color: #1da7df;
  }
}
.footer__contact-icon {
  width: 3.4375rem;
  height: 3.4375rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebf5f5;
  border-radius: 50%;
}
.footer__contact-text {
  transition: color 0.3s ease;
}
.footer__bottom {
  margin-top: 2.75rem;
  padding: 1.5rem 0;
  border-top: 0.0625rem solid #e0f4f4;
  color: rgba(36, 78, 82, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
  line-height: 77.778%;
}
@media (any-hover: hover) {
  .footer__policy:hover {
    text-decoration: underline;
  }
}
@media (any-hover: hover) {
  .footer__prod:hover {
    text-decoration: underline;
  }
}

.form__label {
  font-size: 1.0625rem;
  line-height: 141.176%;
  display: inline-block;
  margin-bottom: 0.25rem;
}
.form__control {
  text-overflow: ellipsis;
  font-family: "Mulish";
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
  border-radius: 0.25rem;
  border: 0.0625rem solid rgba(9, 97, 166, 0.3);
  background: rgba(9, 97, 166, 0.1);
  padding: 1rem 1.5rem;
  min-height: 3.75rem;
  color: #fff;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 141.176%;
  color: #000;
}
.form__control:focus {
  border: 0.0625rem solid rgb(9, 97, 166);
}
.form__control:disabled {
  opacity: 0.24;
}
.form__control:is(textarea) {
  height: 9rem;
  resize: none;
}
.form__control:is(select) {
  background: url("../img/icons/down.svg") no-repeat right 1.5rem center/1.5rem, rgba(9, 97, 166, 0.1);
  appearance: none;
}
.form__checkbox {
  display: block;
}
.form__checkbox-input:checked + .form__checkbox-text::before {
  background-color: rgb(9, 97, 166);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23BAE582' d='M9 16.17L4.83 12l-1.42 1.41L9 19L21 7l-1.41-1.41z'/%3E%3C/svg%3E");
}
.form__checkbox-input.error + .form__checkbox-text::before {
  border: 0.0625rem solid #f06868;
}
.form__checkbox-text {
  position: relative;
  align-content: center;
  width: fit-content;
  line-height: 133.333%;
  min-height: 2.25rem;
  padding: 0 0 0 2em;
  cursor: pointer;
  user-select: none;
}
.form__checkbox-text::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid #dfe4ef;
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__checkbox-text a {
  text-decoration: underline;
  color: #3972c4;
}
@media (any-hover: hover) {
  .form__checkbox-text a:hover {
    text-decoration: none;
  }
}
.btn {
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  font-size: 0.9375rem;
  padding: 1.125rem 1.25rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 6.25rem;
}
.btn:focus-visible {
  box-shadow: 0 0 0.0625rem 0.0625rem #fff;
}
.btn.btn-primary {
  border: 0.15625rem solid #bae582;
  color: #1da7df;
}
.btn.btn-primary:hover {
  background: #bae582;
  color: #000;
}
.btn.btn-primary:active {
  border: 0.15625rem solid #8bd32e;
  background-color: #8bd32e;
  color: #000;
}
.btn.btn-white {
  border: 0.15625rem solid #bae582;
  color: #fff;
}
.btn.btn-white:hover {
  background: #bae582;
  color: #000;
}
.btn.btn-white:active {
  border: 0.15625rem solid #8bd32e;
  background-color: #8bd32e;
  color: #000;
}
.btn.btn-lg {
  font-size: 1.125rem;
  padding: 1.5rem 1.88rem;
}
.btn.btn-fullwidth {
  width: 100%;
  padding-inline: 1rem;
}
.btn:disabled, .btn[aria-disabled=true] {
  pointer-events: none;
}
.btn.filter-btn {
  width: fit-content;
}
.btn.filter-btn:not(:last-child) {
  border-right: 0;
}
.btn.filter-btn:not(:first-child) {
  border-left: 0;
}
.promo {
  background: url("../img/promo-bg.jpg") 0 0/cover no-repeat;
  padding-top: 11.5rem;
  padding-bottom: 14.4rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  mask: url("../img/masks/promo-mask.svg") 0 100%/cover no-repeat;
  -webkit-mask: url("../img/masks/promo-mask.svg") 0 100%/cover no-repeat;
}
.promo::before {
  content: "";
  position: absolute;
  top: 0;
  left: -25%;
  width: 70.3125rem;
  height: 70.3125rem;
  background: #f6f8f9;
  border-radius: 50%;
  z-index: -1;
  filter: blur(12.5rem);
}
.promo__offer {
  position: relative;
  z-index: 2;
}
.promo__title {
  font-size: 3.375rem;
  font-weight: 100;
  line-height: 122.222%;
  letter-spacing: -0.135rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.promo__title span {
  margin-top: 0.5rem;
  font-size: 6rem;
  color: #1da7df;
  font-size: 6rem;
  font-weight: 400;
  line-height: 90.208%;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.05rem;
}
.promo__title span strong {
  letter-spacing: 0.35rem;
  font-weight: 800;
  position: relative;
  display: block;
  padding-bottom: 2.8125rem;
}
.promo__title span strong::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.375rem;
  background: url("../img/decor/promo-title-lines.svg") center/contain no-repeat;
}
.promo__description {
  margin-top: 2.15rem;
  color: rgba(36, 78, 82, 0.8);
  font-size: 1.75rem;
  font-weight: 200;
  line-height: 132.143%;
  max-width: 37.5rem;
}

.support {
  padding: 6rem 0;
  position: relative;
}
.support::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  width: 7.9375rem;
  height: 32.25rem;
  pointer-events: none;
  background: url("../img/decor/support-left-line.svg") 0 bottom/auto no-repeat;
}
.support::after {
  content: "";
  position: absolute;
  top: -3rem;
  left: 17rem;
  width: 11.08188rem;
  height: 5.32656rem;
  z-index: 2;
  background: url("../img/decor/airplane.svg") center/contain no-repeat;
}
.support .row .col-6 {
  padding: 0 0.5rem;
}
.support__image {
  margin-top: 1rem;
  margin-left: -5rem;
  position: relative;
}
.support__image::before {
  content: "";
  position: absolute;
  inset: -4.5rem;
  background: url("../img/decor/support-img-decor.svg") center/contain no-repeat;
}
.support__image img {
  mask: url("../img/masks/support-mask.svg") center/contain no-repeat;
  -webkit-mask: url("../img/masks/support-mask.svg") center/contain no-repeat;
}
.support__block:not(:last-child) {
  margin-bottom: 2.31rem;
  position: relative;
}
.support__block:not(:last-child)::before {
  content: "";
  position: absolute;
  top: calc(100% - 1rem);
  right: -2rem;
  width: 5.4375rem;
  height: 5.4375rem;
  background: url("../img/decor/support-lines-decor.svg") center/contain no-repeat;
}
.support__title .support__title-decor-lg {
  position: relative;
  display: inline-block;
}
.support__title .support__title-decor-lg::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1.125rem;
  background: url("../img/decor/support-title-lines-1.svg") center/contain no-repeat;
}
.support__title .support__title-decor-sm {
  position: relative;
  display: inline-block;
}
.support__title .support__title-decor-sm::before {
  content: "";
  position: absolute;
  top: 100%;
  left: -10%;
  width: 120%;
  height: 0.5rem;
  background: url("../img/decor/support-title-line-2.svg") center/contain no-repeat;
}
.support__description {
  margin-top: 1.25rem;
  color: rgba(36, 78, 82, 0.8);
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 136.364%;
}

.directions {
  padding: 4rem 0;
}
.directions__title {
  text-align: center;
  text-align: center;
  font-size: 4.125rem;
  font-weight: 100;
  line-height: 1;
  letter-spacing: -0.3rem;
  text-transform: uppercase;
}
.directions__title span {
  font-weight: 500;
  color: #1da7df;
}
.directions__body {
  margin-top: 4rem;
}
.directions__body .row .col-4 {
  padding: 1.5rem 1rem;
}
.directions__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.directions__card-image {
  position: relative;
}
.directions__card-image::before {
  content: "";
  position: absolute;
  inset: -1.25rem;
  background: url("../img/decor/direction-img-bg.svg") center/contain no-repeat;
}
.directions__card-image img {
  mask: url("../img/masks/direction-mask.svg") center/contain no-repeat;
  -webkit-mask: url("../img/masks/direction-mask.svg") center/contain no-repeat;
}
.directions__card-name {
  margin-top: 2rem;
  font-size: 1.6875rem;
  font-weight: 600;
  line-height: 111.111%;
  letter-spacing: -0.03375rem;
}

.start {
  padding: 2.5rem 1.5rem 3.5rem;
  position: relative;
}
.start::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4rem;
  width: 100%;
  height: 90%;
  background: url("../img/decor/start-bg-decor.svg") 3rem center/contain no-repeat;
}
.start__banner {
  position: relative;
  color: #fff;
  width: 100%;
  background: url("../img/decor/pattern.png"), #05538f;
  background-blend-mode: darken;
  mask: url("../img/masks/start-block-mask.svg") center/contain no-repeat;
  -webkit-mask: url("../img/masks/start-block-mask.svg") center/contain no-repeat;
}
.start__banner::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 43%;
  width: 21.5625rem;
  height: 27.8125rem;
  background: url("../img/decor/start-decor.png") center/contain no-repeat;
  pointer-events: none;
  z-index: 2;
}
.start__offer {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  padding: 2.5rem 7rem 7rem 8rem;
}
.start__title {
  font-size: 4.375rem;
  font-weight: 100;
  line-height: 102.857%;
  letter-spacing: -0.0875rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.start__title strong {
  font-weight: 800;
}
.start__description {
  margin-top: 1.875rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 125%;
}
.start__btn {
  margin-top: 2rem;
}
.start__image {
  margin-left: -1rem;
}
.start__image img {
  mask: url("../img/masks/start-img-mask.svg") 100% center/auto 100% no-repeat;
  -webkit-mask: url("../img/masks/start-img-mask.svg") 100% center/auto 100% no-repeat;
}

.place {
  padding: 6rem 0 7.25rem;
}
.place__title span {
  color: #1da7df;
}
.place__description {
  margin-top: 1.25rem;
  color: rgba(36, 78, 82, 0.8);
  font-size: 1.3125rem;
  line-height: 142.857%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.place__btn {
  margin-top: 1.25rem;
  padding: 1.5rem;
}
.place__image {
  margin-top: -1.5rem;
  position: relative;
  margin-left: 2.5rem;
}
.place__image::before {
  content: "";
  position: absolute;
  inset: -4rem;
  background: url("../img/decor/support-img-decor.svg") center/contain no-repeat;
}
.place__image img {
  mask: url("../img/masks/support-mask.svg") center/contain no-repeat;
  -webkit-mask: url("../img/masks/support-mask.svg") center/contain no-repeat;
}

.contacts {
  color: #fff;
  background: url("../img/decor/pattern.png"), #0961a6;
  background-blend-mode: darken;
  padding: 3rem 0 4rem;
  position: relative;
  z-index: 1;
}
.contacts::before {
  content: "";
  position: absolute;
  bottom: 4rem;
  left: 14rem;
  width: 4.5rem;
  height: 6.125rem;
  pointer-events: none;
  z-index: -1;
  background: url("../img/decor/contacts-decor-1.svg") center/contain no-repeat;
}
.contacts::after {
  content: "";
  position: absolute;
  top: 4rem;
  right: 12.5rem;
  width: 5.375rem;
  height: 5.375rem;
  pointer-events: none;
  z-index: -1;
  background: url("../img/decor/contacts-decor-2.svg") center/contain no-repeat;
}
.contacts__body {
  max-width: 67.875rem;
  margin: 0 auto;
}
.contacts__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contacts__title {
  margin-top: 1.88rem;
  font-size: 3.75rem;
  font-weight: 100;
  line-height: 110%;
  letter-spacing: -0.075rem;
  text-transform: uppercase;
}
.contacts__btn {
  margin-top: 1.25rem;
}